.DS_Store
*.xcuserstate
docs-local
/Xogot.xcodeproj/xcuserdata/nstamour.xcuserdatad/xcschemes
/Xogot.xcodeproj/xcuserdata
Xogot.xcodeproj/project.xcworkspace/xcuserdata/nstamour.xcuserdatad/IDEFindNavigatorScopes.plist
Xogot.xcodeproj/project.xcworkspace/xcuserdata/nstamour.xcuserdatad/Bookmarks/bookmarks.plist
/docs-local
xogot-skills-bundle.zip
skills-lock.json
/.agents
/.opencode
